:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    background-color: black;
    color: rgb(143, 61, 159)
}

header a {
    text-decoration: none;
}

header img {
    width: 56px;
    height: 56px;
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.7vw;
    background-color: beige;
    padding: 10px;
    border-radius: 15px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: rgb(143, 61, 159);
}

header:link {
    text-decoration: none;
}

span {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}



#info-section {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 26px;
    margin: 40px;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: auto;
    overflow: hidden;
    align-items: flex-end;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;
}

section h2 {
    padding-right: 24px;
    margin-right: 24px;
    border-right: 2px solid black;
    padding-left: 32px;
    flex-direction: column;
    display: inline-flex;
    width: 20%;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 40px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    width: 75%;
    overflow: hidden;
    margin: auto;
}

a {
    text-decoration: none;
    color: purple
}

#images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    object-fit: cover;
}

#runBuddy {
    border: 2px solid rgb(130, 209, 209);
    width: 850px;
    height: 320px;
}

.run-buddy {
    height: auto;
    overflow: auto;
    display: flex;
}

.music {
    height: 177px;
    width: 400px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.description img:hover {
    transition: 0.3s ease;
    -webkit-filter: saturate(100%);
    filter: saturate(175%);
}

#music-page {
    margin: 20px;
    border: 2px solid rgb(130, 209, 209);
    padding: 0;
    width: 850px;
    height: 200px;
    background-color: #363636;
}

#music-page:hover {
    color: white;
    transition: 0.3s ease;
}

/* This needs work if possible. */
/* Brain is melting. Send help. */
@media screen and (max-width: 900px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    #images {
        flex-wrap: wrap;
        position: relative;
        flex: 0 70%;
    }

    #runBuddy {
        position: relative;
        
    }


}